/* TODO: Make it awesome */

body {
  background-image: linear-gradient(gold
  , rgb(230, 230, 230));
}

h1 {
  font-size: 40pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: gray;
  padding: 20px;
  color: gold;
  border: 2px;
  border-style: groove;
  border-color: black;
}

nav {
  background-color: rgb(43, 43, 43);
}

a {
  color: rgb(175, 175, 175);
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
  ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
  }

ol {
  margin-top: 125px;
  text-align: center;
  font-size: 22pt;
  margin-bottom: 85px;
  font-family: Arial, Helvetica, sans-serif;
}
  ol li {
    padding: 15px;
  }

#catalog {
  margin-left: 730px;
  font-size: 15pt;
}

legend {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20pt;
  margin-bottom:20px;
}

label {
  font-size: 18pt;
}

#cart-container {
  background-color: gray;
  font-size:  15pt;
  padding: 10px;
  display: grid;
  margin-bottom: 280px;
}

footer {
  margin-top: 138px;
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
}